## Sara the Turtle: `Pandas` Redux
Recalling the script we wrote earlier to process the ARGOS tracking data for Sara the Turtle. Here, we'll demonstrate how another 3rd party package, namely `pandas`, can greatly simplify that task.

In [1]:
#Set the user date (can be switched to be a user input...)
userDate = '7/3/2003'

In [2]:
#Set the location classes used to filter the data. Again, can be an input
locClasses = '1','2','3'

In [3]:
#import the modules
import pandas as pd

In [4]:
#set a variable to the path where the tracking data lives
dataFilename = '..\Data\Sara.txt'

In [5]:
#Open the data as a pandas dataframe. 
df = pd.read_csv(dataFilename,
                 comment='#',   #Skip lines that start with '#'
                 delimiter='\t' #Set the delimiter as <tab>
                )

In [6]:
#Create a mask of user dates
dateMask = df['utc'].str.startswith(userDate)

In [7]:
#Create a mask of location classe
lcMask = df['lc'].isin(locClasses)

In [8]:
#Filter the records that match the above masks
dfOutput = df[dateMask & lcMask]
dfOutput.head()

,uid,tag_id,utc,lc,iq,lat1,lon1,lat2,lon2,nb_mes,big_nb_mes,best_level,pass_duration,nopc,calcul_freq,altitude
0,20616,29051,7/3/2003 9:13,3,66,33.898,-77.958,27.369,-46.309,6,0,-126,529,3,401 651134.7,0
4,20620,29051,7/3/2003 12:10,2,67,33.901,-77.909,31.005,-64.614,4,0,-124,612,3,401 651181.6,0

In [9]:
print ("On {}, Sara the turtle was found at:".format(userDate))
for i,row in dfOutput.iterrows():
    print('  {0:.3f}° Lat; {1:.3f}° Lon'.format(row['lat1'],row['lon1']))

On 7/3/2003, Sara the turtle was found at:
  33.898° Lat; -77.958° Lon
  33.901° Lat; -77.909° Lon

## Mapping the points with the ArcGIS Python API

In [10]:
#Create the GIS object
from arcgis import GIS, geometry
gis = GIS()

In [11]:
#Create the map object
m = gis.map()

#Loop through selected records
for i,row in df[dateMask].iterrows():
    
    #Create a point, projected to WGS84
    thePoint = geometry.Point({"x":row['lon1'],
                               "y":row['lat1'],
                               "spatialRefernce":{'wkid':'4326'}
                              })
    
    #Draw that point in the map, assigning a popup to that point
    m.draw(thePoint,popup={'title':str(i),
                           'content':row['utc']})
    
    #Center the map on the current point
    m.center = [row['lat1'],row['lon1']]
    
#Display the map at zoom level 7, using oceans basemap
m.zoom = 7
m.basemap='oceans'
m

MapView(layout=Layout(height='400px', width='100%'), zoom=7.0)